asgiref==3.12.1
certifi==2026.7.22
charset-normalizer==3.5.1
cloudinary==1.46.2
Django==6.1
django-cloudinary-storage==0.3.0
django-unfold==0.104.1
idna==3.19
pillow==12.3.0
psycopg2-binary==2.9.12
pyperclip==1.11.0
python-dotenv==1.2.3
requests==2.34.2
six==1.17.0
sqlparse==0.6.0
urllib3==2.7.0
whitenoise==6.12.0
